<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Happiness project</title>
	<link rel="icon" href="/images/logo-icon.png" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/animation.css" />
	<link rel="stylesheet" href="/css/page-landing.css" />
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet" />
</head>

<body>
	<div id="page-lading">
		<div id="container">
			<header>
				<img id="logo" class="animation-up" src="/images/logo.svg" alt="Logo da marca Happiness" />
				<div class="location animation-up">
					<strong>São Paulo</strong>
					<p>SP</p>
				</div>
			</header>
			<main>
				<h1 class="animation-up">Leve Felicidade para o mundo</h1>
				<section class="visit">
					<p class="animation-up">
						Visite Orfanatos e mude o dia de muitas crianças
					</p>
					<a href="/orphanages" class="animation-up"><img src="/images/arrow.svg" alt="Ir para o mapa" /></a>
				</section>
			</main>
		</div>
	</div>
	<footer></footer>
</body>

</html>